
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

ion-icon{
    width: 1.5rem;
    height: 1.5rem;
}

/*HEADER*/
.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 700;
}

/*HEADER BUTTON*/
.header-button{
    background: #222222;
    color: #fff;
}

.button-text{
  padding: 10px;
}

.button-phone {
  padding: 10px;
  margin-right: 2.5rem;
  background: #ee122c;
}

.button-phone a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/*HEADER MENU*/
.header-menu{
  background: #ee122c;
  padding: 1.25rem 5rem;
}

.logo img{
  height: 3.5rem;
  width: 10rem;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.options{
    margin: 1rem;
}

.menu div a{
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
