
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

li{
  text-decoration: none;
  list-style: none;
}

ion-icon{
    width: 1.5rem;
    height: 1.5rem;
}

/*HEADER*/
.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-weight: 700;
}

  /*HEADER BUTTON*/
  .header-button{
      padding: 7.5px;
      background: #222222;
      color: #fff;
      font-size: 1em;
  }

  .button-phone {
    padding: 5px;
    margin-right: .5rem;
    background: #ee122c;
    border-radius: .5rem;
  }

  .button-phone a{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
  }

  .button-phone a div{
    margin-right: .5rem;
  }

  /*HEADER MENU*/
  .header-menu{
    background: #ee122c;
    padding: 0 1rem;
  }

  .logo img{
    height: 2.625rem;
    width: 7.5rem;
  }

  .menu{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .options{
      margin: 1rem;
  }

  .options a{
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .icon ion-icon{
    width: 2.5rem;
    height: 2.5rem;
  }

  .text{
    display: none;
  }
